@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Montserrat:wght@400;700&display=swap");
/* VARIABLES */
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

/* HEADER */
.encabezado {
  background-image: url("../img/inicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45vh;
  position: relative; }
  .encabezado h1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 5rem;
    text-shadow: 2px 2px #FFC107;
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 0;
    color: whitesmoke; }
  .encabezado p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1.7rem;
    font-weight: normal;
    color: whitesmoke;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 0.7rem; }

.encabezado-fondo {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative; }

.contenido-encabezado {
  padding-right: 1rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .contenido-encabezado p {
    font-size: 1.4rem; }

.flex-boton {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .flex-boton a {
    background-color: #FFC107;
    text-shadow: 1px 1px #000;
    color: whitesmoke;
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid whitesmoke;
    border-radius: 1rem; }
    .flex-boton a:hover {
      background-color: #008080;
      color: #FFC107;
      border: 2px solid #FFC107; }

/*********************************************************************** DISEÑO RESPONSIVE ***************/
/***************************************************** MEDIDAS QUERY PARA TABLETA */
/* @media (min-width: 768px) and (max-width: 1100px) {

} */
/***************************************************** MEDIDAS QUERY PARA TABLET*/
@media (min-width: 480px) and (max-width: 767px) {
  .encabezado {
    height: 30vh; }
    .encabezado h1 {
      font-size: 4rem; }
    .encabezado p {
      font-size: 1.5rem; } }

/***************************************************** MEDIDAS QUERY PARA CELULAR MINI*/
@media (max-width: 479px) {
  .encabezado {
    height: 25vh; }
    .encabezado h1 {
      font-size: 3.5rem; }
    .encabezado p {
      font-size: 1.2rem; }
  .flex-boton {
    justify-content: flex-start;
    align-items: flex-end; } }

.barraNav-fondo {
  background-color: #008080;
  position: sticky;
  top: 0;
  border-top: 3px solid #FFC107;
  border-bottom: 3px solid #FFC107;
  z-index: 1; }

.contenedor {
  width: 75rem;
  margin: 0 auto; }

.barraNav {
  display: flex;
  justify-content: space-between; }
  .barraNav a {
    padding: 1.5rem;
    color: #FFC107;
    text-decoration: none;
    font-size: 1.7rem;
    transition: 0.5s; }
    .barraNav a:hover {
      background-color: #FFC107;
      color: whitesmoke;
      text-shadow: 1px 1px #000;
      font-size: 2rem;
      font-weight: bold; }

/*********************************************************************** DISEÑO RESPONSIVE ***************/
/***************************************************** MEDIDAS QUERY PARA TABLETA */
@media (min-width: 768px) and (max-width: 1100px) {
  .barraNav a {
    padding: 1.3rem;
    font-size: 1.4rem; } }

/***************************************************** MEDIDAS QUERY PARA CELULAR */
@media (min-width: 480px) and (max-width: 767px) {
  .barraNav {
    flex-direction: column;
    align-items: center;
    width: auto; }
    .barraNav a {
      padding: 1.3rem;
      font-size: 1.5rem; } }

/***************************************************** MEDIDAS QUERY PARA CELULAR MINI*/
@media (max-width: 479px) {
  .barraNav {
    flex-direction: column;
    align-items: center;
    width: auto; }
    .barraNav a {
      padding: 1.1rem;
      font-size: 1.4rem; } }

.tituloSeccion {
  margin: 3rem 1rem;
  padding-left: 5px;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  border-left: 5px solid #FFC107; }

.logo_wapp {
  position: fixed;
  right: 1rem;
  top: 35rem; }

/*********************************** GENERALES EXCLUSIVOS DE INDEX ***********************************/
.main {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 3rem; }
  .main p {
    padding-top: 2rem;
    font-family: "Beau Rivage", cursive;
    font-size: 4rem;
    text-align: center;
    border-bottom: 2px solid #FFC107;
    margin-bottom: 2rem; }

.parrafoSec {
  width: 75vw;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-align: center;
  border-top: 2px solid #FFC107;
  border-bottom: 2px solid #FFC107;
  padding: 2rem; }

.visionMision {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem; }

.cajaVm {
  max-width: 40vw;
  border: 2px solid #008080;
  border-radius: 10px;
  box-shadow: 3px 3px 30px;
  margin: 2rem;
  text-align: center; }
  .cajaVm h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #008080;
    color: #FFC107; }
  .cajaVm p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem; }

.sectores {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-evenly; }

.caja {
  margin: 2rem;
  width: 16rem;
  border: 1px solid #008080;
  border-radius: 4px;
  text-align: center;
  box-shadow: 3px 3px 15px; }
  .caja h3 {
    background-color: #008080;
    color: #FFC107;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    justify-content: center; }
  .caja p {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.7rem 0.5rem;
    color: #000;
    text-align: center; }

.img {
  padding: 0.5rem;
  display: flex;
  justify-content: center; }

/*********************************** GENERALES EXCLUSIVOS DE NOSOTROS ***********************************/
.introNos {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .introNos h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 3rem; }
  .introNos p {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: "Beau Rivage", cursive;
    font-size: 3rem;
    text-align: center;
    border-bottom: 2px solid #FFC107;
    margin-bottom: 2rem; }

.parrafo1 {
  grid-area: parrafo1;
  margin: 0.7rem;
  padding: 3pt;
  height: auto;
  width: auto;
  text-align: justify;
  font-size: 1.6rem; }

.parrafo2 {
  grid-area: parrafo2;
  margin: 0.7rem;
  padding: 3pt;
  height: auto;
  width: auto;
  text-align: justify;
  font-size: 1.6rem; }

.imagen01 {
  grid-area: imagen1;
  border: 2px solid #008080;
  box-shadow: 2px 2px 8px;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  margin: 1rem; }

.imagen02 {
  grid-area: imagen2;
  border: 2px solid #008080;
  box-shadow: 2px 2px 8px;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  margin: 1rem; }

.imagen03 {
  width: 100%; }

.gridPadre {
  display: grid;
  grid-template-areas: "parrafo1 parrafo1 imagen1" "imagen2 parrafo2 parrafo2";
  gap: 15px; }

.parrafo3 {
  width: 75vw;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Beau Rivage", cursive;
  font-size: 2.7rem;
  text-align: center;
  border-top: 2px solid #FFC107;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #FFC107; }

.parrafo4 {
  width: 75vw;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Beau Rivage", cursive;
  font-size: 2.7rem;
  text-align: center;
  border-top: 2px solid #FFC107;
  margin-top: 2rem;
  margin-bottom: 2rem; }

/*********************************** GENERALES EXCLUSIVOS DE SERVICIOS ***********************************/
.tituloSrv {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .tituloSrv h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 3rem; }

.rubroServ {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #FFC107;
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: #ECECEC; }

.cajaServ {
  margin: 10px;
  padding: 10px;
  height: 160px;
  width: 160px;
  border: 1px solid #008080;
  border-radius: 4px;
  box-shadow: 3px 3px 10px;
  background-color: white;
  position: relative; }
  .cajaServ h3 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 3px;
    text-align: center;
    font-weight: bold; }
  .cajaServ svg {
    position: absolute;
    top: 70px;
    left: 50px; }

.cajaParrafo1 {
  width: 75vw;
  margin: auto;
  padding-top: 2rem;
  border-bottom: 2px solid #FFC107; }

.cajaParrafo2 {
  width: 75vw;
  margin: auto;
  padding-top: 2rem;
  border-top: 2px solid #FFC107; }

.parrafoServ1 {
  text-align: center;
  font-size: 1.8rem;
  font-style: oblique;
  padding-bottom: 2rem; }

.parrafoServ2 {
  text-align: center;
  font-size: 1.8rem;
  font-style: oblique; }

.proyecto {
  margin: 1rem;
  padding: 1rem 0rem;
  border: 1px solid #008080;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px;
  background-color: #008080; }
  .proyecto h4 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #FFC107;
    padding-bottom: 1rem; }
  .proyecto img {
    border-top: 1px solid #FFC107;
    border-bottom: 1px solid #FFC107; }
  .proyecto p {
    text-align: center;
    font-size: 1.5rem;
    color: #FFC107;
    padding-top: 1rem;
    margin-bottom: 0; }

.proyectosRef {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.contenedorVideo {
  margin: 3rem 0.5rem;
  display: flex;
  justify-content: center; }

.videosrv {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border: 2px solid #FFC107;
  border-radius: 10px;
  box-shadow: 3px 3px 10px;
  width: fit-content; }

aside {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 2px solid #FFC107;
  border-bottom: 2px solid #FFC107;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 5rem; }

.imgCarousel {
  height: 100%;
  width: 100%;
  object-fit: cover; }

/*********************************** GENERALES EXCLUSIVOS DE FAQ's ***********************************/
.tituloFaq {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .tituloFaq h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 3rem; }

.faq {
  padding: 1rem; }

.faqLista {
  margin-left: 3rem;
  font-size: 1.6rem;
  font-weight: bold; }

.faqPregunta {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase; }

.faqRespuesta {
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 1.5rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-style: oblique;
  text-align: justify;
  font-weight: lighter; }

.faqContacto {
  margin: 3.5rem;
  padding: 0.5rem;
  border: 2px solid #008080;
  background-color: #ECECEC;
  border-radius: 5px;
  box-shadow: 5px 5px 15px;
  text-align: center; }
  .faqContacto p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.3rem; }

/*********************************** GENERALES EXCLUSIVOS DE CONTACTO ***********************************/
.tituloCon {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; }
  .tituloCon h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 3rem; }

.contenedor2 {
  background: #008080;
  width: 45rem;
  padding: 3rem;
  margin: auto;
  margin-top: 3rem;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000; }
  .contenedor2 h3 {
    font-size: 2.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #FFC107; }

.campo {
  width: 95%;
  background-color: transparent;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid #FFC107;
  font-size: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif; }
  .campo:focus {
    height: 40px; }

::placeholder {
  color: #cfc17f; }

.button {
  width: 100%;
  height: 45px;
  margin-top: 1rem;
  border-radius: 3px;
  border: none;
  color: #008080;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(to right top, #FFC107, #ECECEC); }
  .button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1); }
  .button:active {
    transform: translateY(3px); }

#contacto {
  display: flex;
  justify-content: center;
  text-align: center; }

.formaContacto {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 90vw;
  border-top: 2px solid #FFC107;
  border-bottom: 2px solid #FFC107;
  display: flex;
  justify-content: space-around; }

.cajaContacto {
  width: 35rem;
  height: 16rem;
  margin: 1rem;
  background-color: #ECECEC;
  box-shadow: 2px 2px 10px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cajaContacto svg {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .cajaContacto p {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem; }

.mapaContacto {
  padding: 2rem;
  border: 3px solid #FFC107;
  box-shadow: 3px 3px 10px;
  width: fit-content;
  height: auto;
  margin: 0 auto; }

/***************************************** DISEÑO RESPONSIVE *********************************************/
/***************************************************** MEDIDAS QUERY PARA TABLETA */
@media (min-width: 768px) and (max-width: 1100px) {
  .sectores {
    flex-wrap: wrap; }
  .logo_wapp {
    position: fixed;
    right: 10px;
    top: 60px; }
    .logo_wapp img {
      width: 40px;
      height: auto; }
  .gridPadre {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .rubroServ {
    flex-wrap: wrap; }
  #contacto {
    justify-self: center;
    padding-bottom: 20px; }
  .parrafoCont {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px; }
  .pContacto {
    font-size: 10pt; }
  .datos {
    padding: 0;
    margin: 0; }
  .formaContacto {
    flex-wrap: wrap; }
  .mapaContacto {
    margin: 0 auto; }
    .mapaContacto iframe {
      width: 80vw;
      height: 30vw; } }

/***************************************************** MEDIDAS QUERY PARA CELULAR */
@media (min-width: 480px) and (max-width: 767px) {
  .tituloPag {
    padding-top: 3px;
    font-size: 2rem; }
  .visionMision {
    flex-wrap: wrap; }
  .logo_wapp {
    right: 1rem;
    top: 45rem; }
  .cajaVm {
    max-width: 70vw;
    margin: 2rem; }
  .sectores {
    flex-wrap: wrap; }
  .gridPadre {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .rubroServ {
    flex-wrap: wrap; }
  aside {
    width: 400px; }
  .faqPregunta {
    margin-bottom: 2px;
    font-size: 10pt; }
  .faqRespuesta {
    padding-top: 0;
    padding-bottom: 5px;
    font-size: 9pt; }
  .faqContacto {
    font-size: 10pt; }
  #contacto {
    justify-self: center;
    padding-bottom: 20px; }
  .contenedor2 {
    width: 35rem; }
    .contenedor2 h3 {
      font-size: 2rem; }
  .formaContacto {
    flex-wrap: wrap; }
  .mapaContacto {
    margin: 0 auto; }
    .mapaContacto iframe {
      width: 70vw;
      height: 70vw; } }

/***************************************************** MEDIDAS QUERY PARA CELULAR MINI*/
@media (max-width: 479px) {
  .intro h2 {
    font-size: 2rem; }
  .intro p {
    font-size: 3rem; }
  .tituloPag {
    padding-top: 3px;
    font-size: 1.8rem; }
  .logo_wapp {
    position: fixed;
    right: 1rem;
    top: 45rem; }
    .logo_wapp img {
      width: 40px;
      height: auto; }
  .visionMision {
    flex-wrap: wrap; }
  .cajaVm {
    max-width: 70vw;
    margin: 2rem; }
  .sectores {
    flex-wrap: wrap; }
  .gridPadre {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .imagen01 {
    max-width: 80%;
    height: auto; }
  .imagen02 {
    max-width: 80%;
    height: auto; }
  .rubroServ {
    flex-wrap: wrap; }
  .proyecto p {
    font-size: 1.3rem; }
  .videosrv iframe {
    width: auto; }
  aside {
    width: 300px; }
  #contacto {
    justify-self: center;
    padding-bottom: 20px; }
  /*   .datos {
    h3 {
      font-size: 1.6rem;
    }
  } */
  .contenedor2 {
    width: 80vw; }
    .contenedor2 h3 {
      font-size: 2rem; }
  .formaContacto {
    flex-wrap: wrap; }
  .cajaContacto p {
    font-size: 1.3rem; }
  .mapaContacto {
    margin: 0 auto; }
    .mapaContacto iframe {
      width: 80vw;
      height: auto; } }

/* FOOTER */
footer {
  margin-top: 2rem;
  background-color: #008080;
  border-top: 3px solid #FFC107; }
  footer p {
    text-align: center;
    font-size: 1.4rem;
    color: #FFC107;
    padding: 0.5rem; }

.footer-redes {
  display: flex;
  justify-content: center; }

.red {
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem; }

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0.5rem; }
  .copyright span {
    font-size: 1.2rem;
    color: #FFC107;
    padding: 0.2rem; }
    .copyright span a {
      font-size: 1.2rem;
      color: #FFC107;
      text-decoration: none;
      font-weight: bold; }
  .copyright p {
    font-size: 1.2rem;
    color: #FFC107;
    padding: 0.2rem; }
