/* FOOTER */

footer {
  background-color: $color-principal;
  border-top: 3px solid $color-secundario;

  p {
    text-align: center;
    font-size: 1.5rem;
    color: $color-secundario;
    padding: 0.5rem;
  }
}

.footer-redes {
  display: flex;
  justify-content: center;

  svg  {
    padding-left: 25px;
    padding-right: 25px;
  }
}



.copyright {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0.5rem;

  span {
    font-size: 1.2rem;
    color: $color-secundario;
    padding: 0.2rem;

    a {
      font-size: 1.2rem;
      color: $color-secundario;
      text-decoration: none;
      font-weight: bold;
    }
  }
  p {
    font-size: 1.2rem;
    color: $color-secundario;
    padding: 0.2rem;
  }
}
