/* FOOTER */

footer {
  margin-top: 2rem;
  background-color: $color-principal;
  border-top: 3px solid $color-secundario;

  p {
    text-align: center;
    font-size: 1.4rem;
    color: $color-secundario;
  }
}

.footer-redes {
  display: flex;
  justify-content: center;
}

.red {
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0.5rem;

  span {
    font-size: 1.2rem;
    color: $color-secundario;
    padding: 0.2rem;

    a {
      font-size: 1.2rem;
      color: $color-secundario;
      text-decoration: none;
      font-weight: bold;
    }
  }
  p {
    font-size: 1.2rem;
    color: $color-secundario;
    padding: 0.2rem;
  }
}
