
.logo_wapp {
  position: fixed;
  right: 10rem;
  top: 35rem;
  z-index: 1;
}

/*********************************** GENERALES EXCLUSIVOS DE INDEX ***********************************/

.main {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  p {
    padding-top: 2rem;
    font-family: "Beau Rivage", cursive;
    font-size: 3.5rem;
    text-align: center;
    border-bottom: 2px solid $color-secundario;
    margin-bottom: 2rem;
  }
}

.parrafoSec {
  width: 75vw;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-align: center;
  border-top: 2px solid $color-secundario;
  border-bottom: 2px solid $color-secundario;
  padding: 2rem;
}

.visionMision {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem;
}

.cajaVm {
  max-width: 40vw;
  border: 2px solid $color-principal;
  border-radius: 10px;
  box-shadow: 3px 3px 30px;
  margin: 2rem;
  text-align: center;

  h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $color-principal;
    color: $color-secundario;
  }

  p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem;
  }
}

.sectores {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid $color-secundario;
}

.caja {
  margin: 2rem;
  width: 16rem;
  border: 1px solid $color-principal;
  border-radius: 4px;
  text-align: center;
  box-shadow: 3px 3px 15px;

  h3 {
    background-color: $color-principal;
    color: $color-secundario;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    justify-content: center;
  }

  p {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.7rem 0.5rem;
    color: #000;
    text-align: center;
  }
}

.img {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.slogan {
  background-image: url(/img/soldador.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 750px;
  margin: 0 auto;
  border: 2px solid $color-secundario;
  border-radius: 3rem;
  box-shadow: 5px 5px 15px;

  p {
    font-family: "Beau Rivage", cursive;
    font-size: 5rem;
    color: whitesmoke;
    text-align: center;
    padding: 2rem 0rem;
  }
}

.slogan-fondo {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********************************** GENERALES EXCLUSIVOS DE NOSOTROS ***********************************/

.introNos {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  p {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: "Beau Rivage", cursive;
    font-size: 3rem;
    text-align: center;
    border-bottom: 2px solid $color-secundario;
    margin-bottom: 2rem;
  }
}

@mixin parrafos {
  margin: 1rem 0rem;
  padding: 1rem 0rem;
  height: auto;
  width: auto;
  text-align: justify;
  font-size: 1.6rem;
}

.parrafo1 {
  grid-area: parrafo1;
  @include parrafos;
  border-top: 1px solid $color-secundario;
  border-bottom: 1px solid $color-secundario;
  margin-left: 1rem;
}

.parrafo2 {
  grid-area: parrafo2;
  @include parrafos;
  border-top: 1px solid $color-secundario;
  margin-right: 1rem;
}

@mixin imgNosotros {
  border: 2px solid $color-principal;
  box-shadow: 2px 2px 8px;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  margin: 2rem 1rem;
}

.imagen01 {
  grid-area: imagen1;
  @include imgNosotros;
}

.imagen02 {
  grid-area: imagen2;
  @include imgNosotros;
}

.imagen03 {
  width: 100%;
}

.gridPadre {
  display: grid;
  grid-template-areas:
    "parrafo1 parrafo1 imagen1"
    "imagen2 parrafo2 parrafo2";
  gap: 15px;
}

@mixin parrafo3-4 {
  width: 75vw;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Beau Rivage", cursive;
  font-size: 2.7rem;
  text-align: center;
  border-top: 2px solid $color-secundario;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.parrafo3 {
  @include parrafo3-4;
  border-bottom: 2px solid $color-secundario;
}

.parrafo4 {
  @include parrafo3-4;
}

/*********************************** GENERALES EXCLUSIVOS DE SERVICIOS ***********************************/

.tituloSrv {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 3rem;
  }
}

.rubroServ {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid $color-secundario;
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: $color-terciario;
}

.cajaServ {
  margin: 10px;
  padding: 10px;
  height: 160px;
  width: 160px;
  border: 1px solid $color-principal;
  border-radius: 5px;
  box-shadow: 3px 3px 10px;
  background-color: whitesmoke;
  position: relative;

  h3 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 3px;
    text-align: center;
    font-weight: bold;
  }

  svg {
    position: absolute;
    top: 70px;
    left: 40px;
  }
}

@mixin cajaParrafo {
  width: 75vw;
  margin: auto;
  padding-top: 2rem;
}

.cajaParrafo1 {
  @include cajaParrafo;
  border-bottom: 2px solid $color-secundario;
}

.cajaParrafo2 {
  @include cajaParrafo;
  border-top: 2px solid $color-secundario;
}

@mixin parrafoServ {
  text-align: center;
  font-size: 1.8rem;
  font-style: oblique;
}

.parrafoServ1 {
  @include parrafoServ;
  padding-bottom: 2rem;
}

.parrafoServ2 {
  @include parrafoServ;
}

.proyecto {
  margin: 1rem;
  padding: 1rem 0rem;
  border: 2px solid $color-secundario;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px;
  background-color: $color-principal;

  h4 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: $color-secundario;
    padding-bottom: 1rem;
  }

  img {
    border-top: 1px solid $color-secundario;
    border-bottom: 1px solid $color-secundario;
  }

  p {
    text-align: center;
    font-size: 1.5rem;
    color: $color-secundario;
    padding-top: 1rem;
    margin-bottom: 0;
  }
}

.proyectosRef {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contenedorVideo {
  margin: 3rem 0.5rem;
  display: flex;
  justify-content: center;
}

.videosrv {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border: 2px solid $color-secundario;
  border-radius: 10px;
  box-shadow: 3px 3px 10px;
  width: fit-content;
}

aside {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 2px solid $color-secundario;
  border-bottom: 2px solid $color-secundario;
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.imgCarousel {
  height: 190px;
  width: min (80rem, 100%);
  object-fit: cover;
}

/*********************************** GENERALES EXCLUSIVOS DE FAQ's ***********************************/

.tituloFaq {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 3rem;
  }
}

.faq {
  padding: 1rem;
}

.faqLista {
  margin-left: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.faqPregunta {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.faqRespuesta {
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 1.5rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-style: oblique;
  text-align: justify;
  font-weight: lighter;
}

.faqContacto {
  margin: 3.5rem;
  padding: 0.5rem;
  border: 2px solid $color-principal;
  background-color: $color-terciario;
  border-radius: 5px;
  box-shadow: 5px 5px 15px;
  text-align: center;

  p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.3rem;
  }
}

/*********************************** GENERALES EXCLUSIVOS DE CONTACTO ***********************************/

.tituloCon {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 3rem;
  }
}

.formulario {
  background: $color-principal;
  width: 50rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 7px 13px 35px $color-principal;
  margin: 0 auto;

  h3 {
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: $color-secundario;
  }
}

.campo {
  background-color: whitesmoke;
  border-radius: 5px;
  border: 2px solid $color-secundario;
  font-size: 1.6rem;
  padding: 1rem;
  margin: 1rem;
  font-family: "Montserrat", sans-serif;

  &:focus {
    height: 40px;
  }
}

.boton {
  background-color: $color-terciario;
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 50%;
  height: 45px;
  margin: 1rem 1rem;
  border-radius: 10px;
  border: 3px solid $color-secundario;
  text-align: center;

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1);
    background-color: $color-secundario;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 1px 1px #000;
    border: 2px solid whitesmoke;
  }

  &:active {
    transform: translateY(3px);
  }
}

.formaContacto {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 90vw;
  border-top: 2px solid $color-secundario;
  border-bottom: 2px solid $color-secundario;
  display: flex;
  justify-content: space-around;
}

.cajaContacto {
  width: 35rem;
  height: 16rem;
  margin: 1rem;
  padding: 1rem;
  background-color: $color-terciario;
  box-shadow: 2px 2px 10px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  p {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
  }
}

.mapaContacto {
  padding: 2rem;
  border: 3px solid $color-secundario;
  box-shadow: 3px 3px 10px;
  width: fit-content;
  height: auto;
  margin: 0 auto;
}

/***************************************** DISEÑO RESPONSIVE *********************************************/

/***************************************************** MEDIDAS QUERY PARA TABLETA */
@media (min-width: 768px) {
  //************************************************************contacto.html (solo para formulario)
  .contenedor-campos {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto 20rem;
  }

  .campo:nth-child(3),
  .campo:nth-child(4),
  .campo:nth-child(5) {
    grid-column: 1/3;
  }
}

.botonFlex {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1100px) {
  //************************************************************index.html
  .sectores {
    flex-wrap: wrap;
  }

  .logo_wapp {
    position: fixed;
    right: 10px;
    top: 60px;

    img {
      width: 40px;
      height: auto;
    }
  }

  .slogan {
    p {
      font-size: 5rem;
      padding: 1.5rem;
    }
  }

  //************************************************************quienes-somos.html
  .gridPadre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @mixin parrafos {
    margin: 0rem 1rem;
    padding: 1rem 1rem;
    font-size: 1.5rem;
  }

  .parrafo1 {
    @include parrafos;
  }

  .parrafo2 {
    @include parrafos;
    border-bottom: 1px solid $color-secundario;
  }

  //************************************************************servicios.html
  .rubroServ {
    flex-wrap: wrap;
  }

  .imgCarousel {
    height: auto;
  }

  //************************************************************contacto.html

  .formaContacto {
    flex-wrap: wrap;
  }

  .mapaContacto {
    margin: 0 auto;

    iframe {
      width: 80vw;
      height: 30vw;
    }
  }
}
/***************************************************** MEDIDAS QUERY PARA CELULAR */
@media (min-width: 480px) and (max-width: 767px) {  

  .logo_wapp {
    right: 6rem;
    top: 1.5rem;
  }

  //************************************************************index.html
  .visionMision {
    flex-wrap: wrap;
  }

  .cajaVm {
    max-width: 70vw;
    margin: 2rem;
  }

  .sectores {
    flex-wrap: wrap;
  }

  .slogan {
    height: 35vh;
    width: 400px;
    border-radius: 2rem;

    p {
      font-size: 4rem;
      padding: 1rem;
    }
  }

  //************************************************************quienes-somos.html
  .gridPadre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @mixin parrafos {
    margin: 0rem 1rem;
    padding: 1rem 1rem;
    font-size: 1.5rem;
  }

  .parrafo1 {
    @include parrafos;
  }

  .parrafo2 {
    @include parrafos;
    border-bottom: 1px solid $color-secundario;
  }

  //************************************************************servicios.html
  .rubroServ {
    flex-wrap: wrap;
  }

  .imgCarousel {
    height: auto;
  }

  //************************************************************faq.html
  .faqPregunta {
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
  }

  .faqRespuesta {
    padding-top: 0;
    padding-bottom: 5px;
    font-size: 1.3rem;
  }

  .faqContacto {
    font-size: 1rem;
  }

  //************************************************************contacto.html
  .formulario {
    max-width: 80vw;
  }

  .campo {
    width: 90%;
  }

  .formaContacto {
    flex-wrap: wrap;
  }

  .mapaContacto {
    margin: 0 auto;

    iframe {
      width: 70vw;
      height: 70vw;
    }
  }
}
/***************************************************** MEDIDAS QUERY PARA CELULAR MINI*/
@media (min-width: 321px) and (max-width: 479px) {
  .logo_wapp {
    right: 3rem;
    top: 1rem;
  }

  //************************************************************index.html
  .main {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 2.5rem;
    }
  }

  .visionMision {
    flex-wrap: wrap;
  }

  .cajaVm {
    max-width: 70vw;
    margin: 2rem;
  }

  .parrafoSec {
    font-size: 1.5rem;
  }

  .sectores {
    flex-wrap: wrap;
  }

  .slogan {
    height: 30vh;
    width: 300px;
    border-radius: 1rem;

    p {
      font-size: 3rem;
      padding: 1rem;
    }
  }

  //************************************************************quienes-somos.html
  .introNos {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 2.5rem;
    }
  }

  .gridPadre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @mixin parrafos {
    margin: 0rem 1rem;
    padding: 1rem 1rem;
    font-size: 1.5rem;
  }

  .parrafo1 {
    @include parrafos;
  }

  .parrafo2 {
    @include parrafos;
    border-bottom: 1px solid $color-secundario;
  }

  @mixin parrafo3-4 {
    font-size: 2.5rem;
  }

  .parrafo3 {
    @include parrafo3-4;
  }

  .parrafo4 {
    @include parrafo3-4;
  }

  .imagen01 {
    max-width: 80%;
    height: auto;
  }

  .imagen02 {
    max-width: 80%;
    height: auto;
  }

  //************************************************************servicios.html
  .tituloSrv {
    h2 {
      font-size: 2rem;
    }
  }

  .rubroServ {
    flex-wrap: wrap;
  }

  @mixin parrafoServ {
    font-size: 1.6rem;
  }

  .parrafoServ1 {
    @include parrafoServ;
  }

  .parrafoServ2 {
    @include parrafoServ;
  }

  .proyecto {
    p {
      font-size: 1.3rem;
    }
  }

  .videosrv {
    iframe {
      width: auto;
    }
  }

  .imgCarousel {
    height: auto;
  }

  //************************************************************faq.html
  .faqPregunta {
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
  }

  .faqRespuesta {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.3rem;
  }

  .faqContacto {
    p {
      font-size: 1.3rem;
    }
  }

  //************************************************************contacto.html
  .formulario {
    max-width: 80vw;
  }

  .campo {
    width: 90%;
  }

  .boton {
    width: 90%;
    font-size: 1.5rem;
  }

  ::placeholder {
    font-size: 1.5rem;
  }

  .botonFlex {
    flex-direction: column;
    align-items: center;
  }

  .formaContacto {
    flex-wrap: wrap;
  }

  .cajaContacto {
    p {
      font-size: 1.3rem;
    }
  }

  .mapaContacto {
    margin: 0 auto;

    iframe {
      width: 80vw;
      height: auto;
    }
  }
}

/***************************************************** MEDIDAS QUERY PARA RELOJ*/
@media (max-width: 320px) {

  .logo_wapp {
    right: 3rem;
    top: 3rem;
  }

  //************************************************************index.html

  .main {
    h2 {
      font-size: 2rem;
      margin-top: 2rem;
    }
    p {
      padding-top: 1rem;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }

  .parrafoSec {
    font-size: 1.5rem;
  }

  .visionMision {
    flex-wrap: wrap;
    margin: 1rem;
  }

  .cajaVm {
    max-width: 70vw;
    margin: 1rem;

    h3 {
      font-size: 1.7rem;
    }

    p {
      font-size: 1.3rem;
      padding: 1rem;
    }
  }

  .sectores {
    flex-wrap: wrap;
  }

  .slogan {
    height: 30vh;
    width: 250px;
    border-radius: 1rem;

    p {
      font-size: 2.5rem;
      padding: 0.2rem;
    }
  }

  //************************************************************quienes-somos.html

  .introNos {
    h2 {
      font-size: 2rem;
      margin-top: 3rem;
    }

    p {
      font-size: 3rem;
    }
  }

  .gridPadre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @mixin parrafos {
    margin: 0rem 1rem;
    padding: 1rem 1rem;
    font-size: 1.4rem;
  }

  .parrafo1 {
    @include parrafos;
  }

  .parrafo2 {
    @include parrafos;
    border-bottom: 1px solid $color-secundario;
  }

  .imagen01 {
    max-width: 80%;
    height: auto;
  }

  .imagen02 {
    max-width: 80%;
    height: auto;
  }

  //************************************************************servicios.html

  .tituloSrv {
    h2 {
      font-size: 2rem;
      margin-top: 2rem;
    }
  }

  .rubroServ {
    flex-wrap: wrap;
  }

  .proyecto {
    h4 {
      font-size: 1.4rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 1.3rem;
    }
  }

  @mixin parrafoServ {
    font-size: 1.6rem;
  }

  .parrafoServ1 {
    @include parrafoServ;
  }

  .parrafoServ2 {
    @include parrafoServ;
  }

  .videosrv {
    iframe {
      width: 85vw;
    }
  }

  .imgCarousel {
    height: auto;
  }

  //************************************************************faq.html

  .tituloFaq {
    h2 {
      font-size: 2rem;
    }
  }

  .faqPregunta {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
  }

  .faqRespuesta {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    padding-right: 0.3rem;
    font-size: 1.2rem;
  }

  .faqContacto {
    p {
      font-size: 1.3rem;
    }
  }

  //************************************************************contacto.html

  .tituloCon {
    h2 {
      font-size: 2rem;
    }
  }

  .formulario {
    max-width: 80vw;
  }

  .campo {
    width: 85%;
  }

  .boton {
    width: 85%;
    font-size: 1.5rem;
  }
  
  ::placeholder {
    font-size: 1.5rem;
  }

  .botonFlex {
    flex-direction: column;
    align-items: center;
  }

  .formaContacto {
    flex-wrap: wrap;
  }

  .cajaContacto {
    width: 90vw;
    height: 15rem;

    svg {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    p {
      font-size: 1.3rem;
    }
  }

  .mapaContacto {
    margin: 0 auto;

    iframe {
      width: 80vw;
      height: auto;
    }
  }
}