.tituloSeccion {
  margin: 3rem 1rem;
  padding-left: 5px;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  border-left: 5px solid $color-secundario;
}

.logo_wapp {
  position: fixed;
  right: 1rem;
  top: 10rem;
}

/*********************************** GENERALES EXCLUSIVOS DE INDEX ***********************************/

.main {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  p {
    padding-top: 2rem;
    font-family: "Beau Rivage", cursive;
    font-size: 4rem;
    text-align: center;
    border-bottom: 2px solid $color-secundario;
    margin-bottom: 2rem;
  }
}

.parrafoSec {
  width: 75vw;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-align: center;
  border-top: 2px solid $color-secundario;
  border-bottom: 2px solid $color-secundario;
  padding: 2rem;
}

.visionMision {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem;
}

.cajaVm {
  max-width: 40vw;
  border: 2px solid $color-principal;
  border-radius: 10px;
  box-shadow: 3px 3px 30px;
  margin: 2rem;
  text-align: center;

  h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $color-principal;
    color: $color-secundario;
  }

  p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem;
  }
}

.sectores {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.caja {
  margin: 2rem;
  width: 16rem;
  border: 1px solid $color-principal;
  border-radius: 4px;
  text-align: center;
  box-shadow: 3px 3px 15px;

  h3 {
    background-color: $color-principal;
    color: $color-secundario;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    justify-content: center;
  }

  p {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.7rem 0.5rem;
    color: #000;
    text-align: center;
  }
}

.img {
  padding: 5pt;
  display: flex;
  justify-content: center;
}

/*********************************** GENERALES EXCLUSIVOS DE NOSOTROS ***********************************/

.introNos {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  p {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: "Beau Rivage", cursive;
    font-size: 3rem;
    text-align: center;
    border-bottom: 2px solid $color-secundario;
    margin-bottom: 2rem;
  }
}

@mixin parrafos {
  margin: 0.7rem;
  padding: 3pt;
  height: auto;
  width: auto;
  text-align: justify;
  font-size: 1.6rem;
}

.parrafo1 {
  grid-area: parrafo1;
  @include parrafos;
}

.parrafo2 {
  grid-area: parrafo2;
  @include parrafos;
}

@mixin imgNosotros {
  border: 2px solid $color-principal;
  box-shadow: 2px 2px 8px;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  margin: 1rem;
}

.imagen01 {
  grid-area: imagen1;
  @include imgNosotros;
}

.imagen02 {
  grid-area: imagen2;
  @include imgNosotros;
}

.imagen03 {
  width: 100%;
}

.gridPadre {
  display: grid;
  grid-template-areas:
    "parrafo1 parrafo1 imagen1"
    "imagen2 parrafo2 parrafo2";
  gap: 15px;
}

@mixin parrafo3-4 {
  width: 75vw;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Beau Rivage", cursive;
  font-size: 2.7rem;
  text-align: center;
  border-top: 2px solid $color-secundario;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.parrafo3 {
  @include parrafo3-4;
  border-bottom: 2px solid $color-secundario;
}

.parrafo4 {
  @include parrafo3-4;
}

/*********************************** GENERALES EXCLUSIVOS DE SERVICIOS ***********************************/

.tituloSrv {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 3rem;
  }
}

.rubroServ {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid $color-secundario;
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: $color-terciario;
}

.cajaServ {
  margin: 10px;
  padding: 10px;
  height: 160px;
  width: 160px;
  border: 1px solid $color-principal;
  border-radius: 4px;
  box-shadow: 3px 3px 10px;
  background-color: white;
  position: relative;

  h3 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 3px;
    text-align: center;
    font-weight: bold;
  }

  svg {
    position: absolute;
    top: 70px;
    left: 50px;
  }
}

@mixin cajaParrafo {
  width: 75vw;
  margin: auto;
  padding-top: 2rem;
}

.cajaParrafo1 {
  @include cajaParrafo;
  border-bottom: 2px solid $color-secundario;
}

.cajaParrafo2 {
  @include cajaParrafo;
  border-top: 2px solid $color-secundario;
}

@mixin parrafoServ {
  text-align: center;
  font-size: 1.8rem;
  font-style: oblique;
}

.parrafoServ1 {
  @include parrafoServ;
  padding-bottom: 2rem;
}

.parrafoServ2 {
  @include parrafoServ;
}

.proyecto {
  width: fit-content;
  height: auto;
  margin: 1rem;
  padding: 1rem 0rem;
  border: 1px solid $color-principal;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px;
  background-color: $color-principal;

  h4 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: $color-secundario;
    padding-bottom: 1rem;
  }

  img {
    border-top: 1px solid $color-secundario;
    border-bottom: 1px solid $color-secundario;
  }

  p {
    text-align: center;
    font-size: 1.5rem;
    color: $color-secundario;
    padding-top: 1rem;
    margin-bottom: 0;
  }
}

.proyectosRef {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contenedorVideo {
  margin: 3rem 0.5rem;
  display: flex;
  justify-content: center;
}

.videosrv {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border: 2px solid $color-secundario;
  border-radius: 10px;
  box-shadow: 3px 3px 10px;
  width: fit-content;
}

aside {
  padding-top: 15px;
  border-top: 2px solid $color-secundario;
  width: 700px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 3rem;
}

/*********************************** GENERALES EXCLUSIVOS DE FAQ's ***********************************/

.tituloFaq {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 3rem;
  }
}

.faq {
  padding: 1rem;
}

.faqLista {
  margin-left: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.faqPregunta {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.faqRespuesta {
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 1.5rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-style: oblique;
  text-align: justify;
  font-weight: lighter;
}

.faqContacto {
  margin: 3.5rem;
  padding: 0.5rem;
  border: 2px solid $color-principal;
  background-color: $color-terciario;
  border-radius: 5px;
  box-shadow: 5px 5px 15px;
  text-align: center;

  p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.3rem;
  }
}

/*********************************** GENERALES EXCLUSIVOS DE CONTACTO ***********************************/

.tituloCon {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 3rem;
  }
}

.contenedor2 {
  background: $color-principal;
  width: 43rem;
  padding: 3rem;
  margin: auto;
  margin-top: 3rem;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;

  h3 {
    font-size: 2.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: $color-secundario;
  }
}

.campo {
  width: 95%;
  background-color: transparent;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid $color-secundario;
  font-size: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  &:focus {
    height: 40px;
  }
}

::placeholder {
  color: #cfc17f;
}

.button {
  width: 100%;
  height: 45px;
  margin-top: 1rem;
  border-radius: 3px;
  border: none;
  color: $color-principal;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(
    to right top,
    $color-secundario,
    $color-terciario
  );

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &:active {
    transform: translateY(3px);
  }
}

#contacto {
  display: flex;
  justify-content: center;
  text-align: center;
}

.formaContacto {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 90vw;
  border-top: 2px solid $color-secundario;
  border-bottom: 2px solid $color-secundario;
  display: flex;
  justify-content: space-around;
}

.cajaContacto {
  width: 35rem;
  height: auto;
  background-color: $color-terciario;
  border-radius: 1rem;
  position: relative;

  svg {
    margin: auto;
    padding-top: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  p {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 2rem;
  }
}

.mapaContacto {
  margin-bottom: 3rem;
  padding: 2rem;
  border: 3px solid $color-principal;
  width: fit-content;
}

/***************************************** DISEÑO RESPONSIVE *********************************************/

/***************************************************** MEDIDAS QUERY PARA TABLETA */
@media (min-width: 768px) and (max-width: 1100px) {
  //************************************************************index.html
  .sectores {
    flex-wrap: wrap;
  }

  .logo_wapp {
    position: fixed;
    right: 10px;
    top: 60px;

    img {
      width: 40px;
      height: auto;
    }
  }

  //************************************************************quienes-somos.html
  .gridPadre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //************************************************************servicios.html
  .rubroServ {
    flex-wrap: wrap;
  }

  .gridPadreServ {
    grid-template-areas:
      "parrafoServ1"
      "imgsrv"
      "parrafoServ2"
      "videosrv"
      "parrafoServ3"
      "clientes";
  }

  aside {
    width: 600px;
  }

  //************************************************************contacto.html
  .gridPadreCont {
    grid-template-areas:
      "formulario"
      "direccion"
      "mapa";
  }

  #contacto {
    justify-self: center;
    padding-bottom: 20px;
  }

  .parrafoCont {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
  }

  .pContacto {
    font-size: 10pt;
  }

  .datos {
    padding: 0;
    margin: 0;
  }

  .mapaContacto {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

/***************************************************** MEDIDAS QUERY PARA CELULAR */
@media (min-width: 480px) and (max-width: 767px) {
  .tituloPag {
    padding-top: 3px;
    font-size: 2rem;
  }

  .visionMision {
    flex-wrap: wrap;
  }

  .logo_wapp {
    right: 1rem;
    top: 45rem;
  }

  //************************************************************index.html
  .cajaVm {
    max-width: 70vw;
    margin: 2rem;
  }

  .sectores {
    flex-wrap: wrap;
  }
  //************************************************************quienes-somos.html
  .gridPadre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //************************************************************servicios.html
  .rubroServ {
    flex-wrap: wrap;
  }

  .gridPadreServ {
    grid-template-areas:
      "parrafoServ1"
      "imgsrv"
      "parrafoServ2"
      "videosrv"
      "parrafoServ3"
      "clientes";
  }

  aside {
    width: 400px;
  }

  //************************************************************faq.html
  .faqPregunta {
    margin-bottom: 2px;
    font-size: 10pt;
  }

  .faqRespuesta {
    padding-top: 0;
    padding-bottom: 5px;
    font-size: 9pt;
  }

  .faqContacto {
    font-size: 10pt;
  }

  //************************************************************contacto.html
  .gridPadreCont {
    grid-template-areas:
      "formulario"
      "direccion"
      "mapa";
  }

  .parrafoCont {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
  }

  .mapaContacto {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    iframe {
      width: 70vw;
      height: 70vw;
    }
  }

  #contacto {
    justify-self: center;
    padding-bottom: 20px;
  }

  .pContacto {
    font-size: 10pt;
  }
}

/***************************************************** MEDIDAS QUERY PARA CELULAR MINI*/
@media (max-width: 479px) {
  .intro {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 3rem;
    }
  }

  .tituloPag {
    padding-top: 3px;
    font-size: 1.8rem;
  }

  .logo_wapp {
    position: fixed;
    right: 1rem;
    top: 40rem;

    img {
      width: 40px;
      height: auto;
    }
  }

  //************************************************************index.html
  .visionMision {
    flex-wrap: wrap;
  }

  .cajaVm {
    max-width: 70vw;
    margin: 2rem;
  }

  .sectores {
    flex-wrap: wrap;
  }

  //************************************************************quienes-somos.html
  .gridPadre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imagen01 {
    max-width: 80%;
    height: auto;
  }

  .imagen02 {
    max-width: 80%;
    height: auto;
  }

  //************************************************************servicios.html
  .rubroServ {
    flex-wrap: wrap;
  }

  .gridPadreServ {
    grid-template-areas:
      "parrafoServ1"
      "imgsrv"
      "parrafoServ2"
      "videosrv"
      "parrafoServ3"
      "clientes";
  }

  .videosrv {
    iframe {
      width: auto;
    }
  }
  aside {
    width: 300px;
  }

  //************************************************************contacto.html
  .animate__bounceIn {
    width: 90vw;
  }

  .gridPadreCont {
    grid-template-areas:
      "formulario"
      "direccion"
      "mapa";
  }

  #contacto {
    justify-self: center;
    padding-bottom: 20px;
  }

  .pContacto {
    font-size: 10pt;
  }

  .datos {
    h3 {
      font-size: 1.6rem;
    }
  }
  .parrafoCont {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 40px;
  }

  .mapaContacto {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    iframe {
      width: 70vw;
      height: 70vw;
    }
  }
}
