/* HEADER */
.encabezado {
  background-image: url("../img/inicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45vh;
  position: relative;

  h1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 5rem;
    text-shadow: 2px 2px $color-secundario;
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 0;
    color: whitesmoke;
  }

  p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1.7rem;
    font-weight: normal;
    color: whitesmoke;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 0.7rem;
  }
}

.encabezado-fondo {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
}

.contenido-encabezado {
  padding-right: 1rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  p {
    font-size: 1.4rem;
  }
}

.flex-boton {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    background-color: $color-secundario;
    text-shadow: 1px 1px #000;
    color: whitesmoke;
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid whitesmoke;
    border-radius: 1rem;

    &:hover {
      background-color: $color-principal;
      color: $color-secundario;
      border: 2px solid $color-secundario;
    }
  }
}

/*********************************************************************** DISEÑO RESPONSIVE ***************/
/***************************************************** MEDIDAS QUERY PARA TABLETA */
/* @media (min-width: 768px) and (max-width: 1100px) {

} */

/***************************************************** MEDIDAS QUERY PARA TABLET*/
@media (min-width: 480px) and (max-width: 767px) {
  .encabezado {
    height: 30vh;

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

/***************************************************** MEDIDAS QUERY PARA CELULAR MINI*/
@media (max-width: 479px) {
  .encabezado {
    height: 25vh;

    h1 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .flex-boton {
    justify-content: flex-start;
    align-items: flex-end;
  }
}
