/* HEADER */
.header {
  background-image: url("../img/portada.png");
  background-position: center;
  height: 60vh;
  width: 100%;
  position: relative;
  opacity: 80%;
}

/*********************************************************************** DISEÑO RESPONSIVE ***************/
/***************************************************** MEDIDAS QUERY PARA CELULAR MINI*/
@media (max-width: 450px) {
 .header {
    background-image: url("../img/portada.png");
    background-position: center;
    height: 30vh;
    width: 100%;
    position: relative;
    opacity: 80%;
  }
}
