.barraNav-fondo {
  background-color: $color-principal;
  position: sticky;
  top: 0;
  border-top: 3px solid $color-secundario;
  border-bottom: 3px solid $color-secundario;
  z-index: 1;
}

.contenedor {
  width: 75rem;
  margin: 0 auto;
}

.barraNav {
  display: flex;
  justify-content: space-between;

  a {
    padding: 1.5rem;
    color: $color-secundario;
    text-decoration: none;
    font-size: 1.7rem;
    transition: 0.5s;

    &:hover {
      background-color: $color-secundario;
      color: whitesmoke;
      text-shadow: 1px 1px #000;
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

/*********************************************************************** DISEÑO RESPONSIVE ***************/
/***************************************************** MEDIDAS QUERY PARA TABLETA */
@media (min-width: 768px) and (max-width: 1100px) {
  .barraNav {
  
    a {
      padding: 1.3rem;
      font-size: 1.4rem;
    }
  }
}
/***************************************************** MEDIDAS QUERY PARA CELULAR */
@media (min-width: 480px) and (max-width: 767px) {

  .barraNav {
    flex-direction: column;
    align-items: center;
    width: auto;
  
    a {
      padding: 1.3rem;
      font-size: 1.5rem;
    }
  }
}

/***************************************************** MEDIDAS QUERY PARA CELULAR MINI*/
@media (max-width: 479px) {
  .barraNav {
    flex-direction: column;
    align-items: center;
    width: auto;
  
    a {
      padding: 1.1rem;
      font-size: 1.4rem;
    }
  }
}