#menu a {
    font-size: 1.8rem;
  }
  
  nav {
    background-color: $color-principal;
    height: 60px;
    div {
      div {
        ul {
          width: 650px;
          li {
            a {
              text-align: center;
  
              &:hover {
                color: black !important;
              }
            }
          }
        }
      }
    }
  }