#menu a {
  font-size: 1.7rem;
}

nav {
  background-color: $color-principal;
  height: 40px;
  div {
    div {
      ul {
        width: 60vw;
      }
    }
  }
}

.nav-link {
  transition: 1s;
  &:hover {
    background-color: $color-secundario;
  }
}

/*********************************************************************** DISEÑO RESPONSIVE ***************/
/***************************************************** MEDIDAS QUERY PARA CELULAR MINI*/
@media (max-width: 450px) {
  #menu a {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
  }
}