/* VARIABLES */

* {
  padding: 0;
  margin:0;
}

html {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Hace 1rem = 10px*/
}
body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}


$color-principal: #8c8c8c;
$color-secundario: #FFC107;
$color-terciario: #ECECEC;
$color-cuaternario: #008080;
/* $color-cuaternario: #24303c; */